SERVER_PORT=3002

DB_URL=jdbc:postgresql://localhost:55432/be_authentication
DB_USER=postgres
DB_PASSWORD=postgres
DB_DRIVER=org.postgresql.Driver
DB_DIALECT=org.hibernate.dialect.PostgreSQLDialect
DDL_AUTO=update

JWT_SECRET=replace-with-shared-jwt-secret
JWT_EXPIRATION=86400000

RATE_LIMIT_LOGIN=5
RATE_LIMIT_REGISTER=3
